'.source.js':
  'Default Import':
    'prefix': 'im',
    'body': """
            import ${1} from '${2}';
            """

  'Import Lodash':
    'prefix': 'i_',
    'body': """
            import _ from 'lodash';
            """

  'Import Shortid'
    'prefix': 'id',
    'body': """
            import { generate as uuid } from 'shortid';
            """
